name: ci-pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install dependencies
        env:
          DATABASE_URL: "postgresql://placeholder/placeholder"
        run: yarn install

      - name: Generate Prisma Client
        env:
          DATABASE_URL: "postgresql://placeholder/placeholder"
        run: yarn prisma:generate

      # - name: Run tests
      #   run: yarn test
